<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Flask에 대해서</h1>
    <p>플라스크는 Python의 마이크로 웹 프레임워크이다. 다양한 웹 엔진과 붙여서 쓸 수 있고 또 가볍기도 해서 Django와 같이 쓰는 경우도 있다. 코드도 비교적 단순하고, 특히 API 서버를 만들기에
        매우 편리하다. 관련된 확장 기능들이 많기 때문이다.</p>
    <p>풀 스택 웹 프레임워크인 Django와는 달리 마이크로 프레임워크라고 해서 보다 기능성이 떨어지는건 결코 아니다. 단지 Django에서는 단순히 임포트해서 편리하게 사용할 수 있는 일부 부가적인 기능들을
        Flask에서는 직접 손을 써야 할 뿐이다. 이 말인 즉슨, 오히려 Django에 비해서 Flask가 개발자의 능력과 목적에 맞게 커스텀이 가능하다는 얘기. 사실, 아예 웹 프레임워크가 없이
        파이썬(심지어는 C로도) 자체로도 웹 서버는 충분히 구현이 가능하다.</p>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3c/Flask_logo.svg/1200px-Flask_logo.svg.png"
        alt="플라스크이미지">
</body>

</html>