<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>입력 페이지 예시</h1>

    <!-- GET : 조회용, DB에 영향을 안줌. POST : 저장용, 처리용, DB에 영향을 줄 수 있음 -->
    <form action="/form" method="GET">
        <span>입력 키워드</span>
        <input name="keyword" type="text" placeholder="키워드를 입력하세요.">
        <!-- https://www.w3schools.com/tags/tag_input.asp -->
        <button type="submit">전송</button>
    </form>
</body>
</html>