<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>파이썬 웹 프레임워크 살펴보기 : Django, Flask, Tornado etc,.</h1>
    <p>웹 페이지 개발과정에서의 어려움을 줄이며 다양한 기능을 갖추고 있어, 쉽고 빠른 개발이 가능하게 해주는 웹 프레임워크 중에서도 파이썬의 대표 프레임워크의 종류와 그 기능들을 비교해서 살펴보도록 한다.</p>
    <img src="https://mblogthumb-phinf.pstatic.net/MjAxODA4MTdfMTU5/MDAxNTM0NDkwNzk3Mjgx.q69fej29QRk7y1sSU4et29G-pIQSwwonbUdlZmq9as0g.qgqYu5sgtavShBCcDEndqzA-r84gFquD2ufgttKcQ28g.PNG.sundooedu/%ED%94%84%EB%A0%88%EC%9E%84%EC%9B%8C%ED%81%AC01.png?type=w800" alt="이미지1">
    <h2>파이썬 웹 프레임워크</h2>
    <h2>Python web framework</h2>
    <p>파이썬을 활용한 웹 개발 환경에서 웹 애플리케이션을 제작하라는 요청을 받으면 프레임워크를 활용할 가능성이 있다. 프레임워크는 재사용 가능한 코드 또는 일반적인 작업을 위한 확장기능을 제공하여 신뢰할 수 있는 확장성 및 유지보수로 웹 애플리케이션 구축시 개발자의 작업을 더 쉽게 만드는 코드 라이브러리 라고 생각하면 쉽다.</p>
    <p> 그 중에서도 가장 인기있고 많이 쓰이는 프레임워크가 바로 Django와 Flask이다. 그러나 그 밖에도 다른 유용한 웹 프레임워크는 존재하며 각 프로젝트에 맞는 프레임워크를 적용하여 개발한다면 훨씬 눈에 띄는 성과를 얻을 수 있다. 대표적인 파이썬 프레임워크인 Django와 Flask 외에도 Tornado, Pyramid 그리고  Bottle까지 그 특징과 장점에 대해 비교하고 정리해 보자.</p>
    <img src="https://mblogthumb-phinf.pstatic.net/MjAxODA4MTdfMTQ0/MDAxNTM0NDkxMzc4MDMw.9D-MnztYRfkWqB4Q5qA_dk6FMc7Kijo52Nksj-6Qsbwg.A1uXfat9hKwpQC57skCskh598iaX0HwvH3MEpV6Vjsog.PNG.sundooedu/%ED%94%84%EB%A0%88%EC%9E%84%EC%9B%8C%ED%81%AC02.png?type=w800" alt="이미지2">
    <h2>장고 프레임워크 - 강렬함</h2>
    <h2>Django Framework</h2>
    <p> 장고(Django) 프레임워크는 파이썬 프레임워크 중 가장 인기가 많고 널리 쓰이는 프레임워크이다. 신속한 개발과 깨끗하고 실용적인 디자인을 장려하는 고수준의 파이썬 웹 프레임워크이며 장고를 사용하면 보다 빠르게 적은 코드로 더 나은 웹 응용 프로그램을 만들 수 있다.</p>
    <p>장고의 큰 장점 중 하나는 속도로,  개발자가 최대한 빨리 개념에서 완성까지 응용 프로그램을 가져갈 수 있도록 설계 되었다. 또 일반적인 웹 개발작업을 처리하는 데 사용할 수 있는 수십 개의 추가 기능이 포함되어있는데 이를 통해 사용자 인증, 컨텐츠 관리, 사이트 맵, RSS 피드 및 더 많은 작업을 즉시 처리할 수 있다. 또 장고는 보안을 중요하게 생각하여 개발자가 SQL을 삽입하고 크로스 사이트 스크립팅, 사이트 간 요청 위조 및 클릭 재킹과 같은 많은 일반적인 보안 실수를 피하는데 도움이 된다. 사용자 인증 시스템은 사용자 계정과 암호를 안전하게 관리할 수 있는 방법을 제공한다.</p>
    <p>이 외에도 장고는 무거운 트래픽 처리를 위해 신속하고 유연하게 확장 할 수 있는 기능을 사용하고 기업이나 조직 또는 정부는 장고를 사용한 컨텐츠 관리 시스템부터 소셜 네트워크, 과학 컴퓨팅 플랫폼에 이르는 많은 것들을 구축해 다양하게 사용하고 있다.</p>
    <img src="https://mblogthumb-phinf.pstatic.net/MjAxODA4MTdfMTA1/MDAxNTM0NDkxNzY1MjM1.FHAYdvGP0TMxH7wtRYae9xyMHN5c9pEBrodJR0Cgt8kg.92FPR7Ixji2MU5wuPdSyXdk1S5WLdxLlgW4-WoDB95Ig.PNG.sundooedu/%ED%94%84%EB%A0%88%EC%9E%84%EC%9B%8C%ED%81%AC03.png?type=w800" alt="이미지3">
    <h2>플라스크 프레임워크 - 민첩함</h2>
    <h2>Flask Framework</h2>
    <p>플라스크(Flask)는 작지만 강력한 파이썬 웹 프레임워크로 배우기 쉽고 짧은 시간에 웹앱 개발이 가능해 인기가 많다. Werkzeng 툴킷과 jinja2 템플릿 엔진에 기반을 두고 있다. 플라스크는 특별한 도구 또는 라이브러리가 필요 없어 마이크로 프레임워크라고 부르기도 한다.</p>
    <p>플라스크는 여러 제안을 제공하지만 의존성이나 프로젝트 레이아웃을 강요하지 않는 것이 특징이며 개발자가 사용하려는 도구와 라이브러리를 개발자 스스로가 선택하도록 한다. 따라서 데이터베이스 추상화 계층, 양식 유효성 확인, 그 밖의 기존 서드 파티 라이브러리나 공통 기능을 제공하는 구성 요소가 없지만 플라스크 자체에서 구현된 것 같은 애플리케이션 기능을 추가 확장할 수 있는 기능을 지원한다.</p>
    <p>확장 기능은 객체 관계 매퍼, 양식 유효성 확인, 업로드 관리, 다양한 개방형 인증기술과 여러가지 공통 프레임워크 관련 도구들을 위해 존재하며 확장 기능들은 코어 플라스크 프로그램에 비해서 훨씬 더 정기적으로 업데이트 되고 있다.</p>
</body>
</html>